
/* nav style */

nav{
    display: flex;
   
    
}
.btn{
    position: absolute;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    
    letter-spacing: 0%;
    margin: 10px 500px;
    box-sizing: border-box;
   border: 2px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 10px 30px;
    font-optical-sizing: auto;
    
    font-family: "fira Sans", serif;
    
    

}

nav button:hover{
    background-color:rgb(151, 160, 95);

}
.title{
    padding-left: 145px;
    padding-right: 530px;
}
/* banner style */
.banner{
    background-color: #C6E4D6;
    
    margin-top: 50px;
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position: right, bottom ;
    max-width: 1300px;
    margin: auto;
    border-radius: 10px;
   

    
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 117px;
    padding-left: 59px;
}
.banner-sub-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
margin-top: 16px;
padding-left: 59px;

}
.banner-btn{
    background: rgb(0, 106, 80);
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
   margin-left: 59px;
   margin-top: 24px;
   margin-bottom: 117px;

}
/* vision style */
.vision{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
margin-left: 145px;
margin-top: 80px;

}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
display: flex;
padding-left: 145px;
padding-right: 160px;
margin-top: 32px;

}

/* pillar style */
.card{
   margin-left: 145px;
    
}
.cards{
    margin-right: 130px;
}
.pillars{
    display: flex;
    gap: 24px;
    padding: 32px;
}
    
.pillar{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
}
/* future style */
.future{
    display: flex;
    margin-top: 32px;
    gap:24px;
}
.visions{
    margin-left: 140px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
   width: 410px;
   height: 325px;
}
.modern{
    margin-right: 130px;
  
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgb(247, 235, 207);
    height: 325px;
    width: 410px;
    
}
.green{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    
    background: rgb(198, 228, 214);
    width: 410px;
   height: 325px;
}
.green-btn{
background: rgb(0, 106, 80);
font-weight: bold;
font-size: 20px;
color: white;
border: none;
padding: 10px 30px;
border-radius: 5px;

margin-top: 24px;
margin-bottom: 117px;
}
.modern-btn{
    font-weight: bold;
font-size: 20px;
color: white;
border: none;
padding: 10px 30px;
border-radius: 5px;

margin-top: 24px;
margin-bottom: 117px;
background:rgb(255, 194, 57);
}
.vision-btn{
    font-weight: bold;
font-size: 20px;
color: white;
border: none;
padding: 10px 30px;
border-radius: 5px;

margin-top: 24px;
margin-bottom: 117px;
background: rgb(84, 144, 245);
}
/* bd style */
.bangladesh{
    margin-left: 145px;
    margin-right: 130px;
    margin-top: 80px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left, top 15px ;
    padding-top: 0px;
    padding-bottom: 15px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;


}
.bd{
padding: 20px;
}
.bd-title{
    padding: 20px; 
}
.bd-sub-title{
    padding: 20px; 
}
.recent-news{
    padding-left: 145px;
    padding-right: 130px;
}
.recent-news-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0EB2;
    margin-top: 24px;
    margin-bottom: 32px;
}
/* satelite style */

.satelite{
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 24px;
background: #FFF;

}

.satelite-1{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 48px 0px; 
   gap: 32px;

}
.satelite-img{
    border-radius: 10px;

}
.satelite-img img{
    border-radius: 24px;

}

.satelite-title h5{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.satelite-title p{
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB2;
    
}
.satelite-title button{
    border-radius: 5px;
background: #006A50;
padding: 12px 24px;
color: white;
font-size: 18px;
font-weight: 600;
border: none;

cursor: pointer;
}
.satelite-title button:hover{
    background: transparent;
    border: 1px solid #5ac7ac;
    color: #529f8c;
}
/* Donate Today */
.donate{
   align-items: center;
   justify-content: space-between;
}
.donation-title{

color: #181818;

width: 1280px;
height: 48px;

display: flex;
padding-left: 650px;

font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
margin-top: 80px;

}
.donation-description{
  
    width: 1104px;
    height: 48px;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    flex: none;
  
    margin: 0px 24px;
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
padding-left: 200px;
}

.donation-list{
   list-style: none;
   display: flex;
   justify-content: space-between;
   justify-content: space-evenly;
}
.donation-btn{
    

width: 200px;
height: 90px;

display: flex;

justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding-left: 45px;
padding-top: 30px;
flex: none;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 25px;
font-weight: 700;

letter-spacing: 0%;

}
.donation-btn:hover{
    background: transparent;
    border: 1px solid #5ac7ac;
    color: #529f8c;
    cursor: pointer;
}
.dotnate-btn{
    
}